<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="bar-search-article(filters, pageName, sizeName, sortName)">
    <div class="row container">
        <div class="col s3"></div>
        <div class="col s6">
            <form class="d-flex flex-direction-column" action="#" th:action="@{/articles/search-by-name}" method="get">
                <div class="card">
                    <div class="card-content d-flex aligns-items-flex-end">
                        <div class="input-field flex-grow-1">
                            <input class="validate" type="text" id="search-input" th:name="${searchName}" th:value="${searchValue}">
                            <label th:text="#{articles.search.by.article}" for="search-input"></label>
                            <input type="hidden" th:name="${pageName}" value="0">
                            <input type="hidden" th:name="${sizeName}" value="5">
                        </div>
                        <div class="input-field ms-3">
                            <button type="submit" class="btn-floating waves-effect waves-light"><i class="material-icons">search</i></button>
                        </div>
                    </div>
                    <div class="card-action">
                        <a th:text="#{articles.create.article}" class="btn waves-effect waves-light center-align" th:href="@{/articles/create}"></a>
                        <a th:text="#{articles.upload.article}" class="btn waves-effect waves-light center-align" th:href="@{/articles/create/upload}"></a>
                    </div>
                </div>
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">filter_list</i>
                            <span th:text="#{filter.value}"></span>
                        </div>
                        <div class="collapsible-body">
                            <!--/*@thymesVar id="filter" type="com.kamegatze.learnjvm.model.filtering.Filter"*/-->
                            <div th:each="filter, item : ${filters}" class="input-field">
                                <select id="select-published" th:name="${sortName}">
                                    <option th:selected="${filter.direction.isEmpty()}" value="" th:text="#{select.empty.value}"></option>
                                    <option th:selected="${filter.direction == 'asc'}" th:value="${filter.property + ',asc'}" th:text="${filter.nameAsc}"></option>
                                    <option th:selected="${filter.direction == 'desc'}" th:value="${filter.property + ',desc'}" th:text="${filter.nameDesc}"></option>
                                </select>
                                <label th:text="${filter.label}" for="select-published"></label>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
        <div class="col s3"></div>
    </div>
</th:block>
</body>
</html>