<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="filter" type="com.kamegatze.learnjvm.model.articles.Article"*/-->
<th:block th:fragment="collection-article-editor(article, urlSearch)">
    <div class="row container">
        <div class="col s3"></div>
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title" th:text="${article.label}"></span>
                    <p class="truncate-text transfer-word" data-count-line="8" th:text="${@htmlConvectorImpl.toFirstAttributeToText('p', article.content)}"></p>
                </div>
                <div class="card-action d-flex">
                    <a class="btn waves-effect waves-light tooltipped" data-tooltip="Подробнее" th:href="@{/articles/view/{id}(id=${article.id})}">Подробнее</a>
                    <th:block th:if="${urlSearch eq '/articles/search-by-name'}">
                        <div class="flex-grow-1"></div>
                        <div class="switch align-self-center tooltipped" data-tooltip="Опубликовать">
                            <label>
                                <form class="d-flex flex-direction-column" action="#" th:action="@{/articles/published/{id}((id=${article.id}))}" method="post" onchange="changeStateCheckbox(this)">
                                    <input th:if="${article.published}" checked class="switch-input" type="checkbox">
                                    <input th:unless="${article.published}" class="switch-input" type="checkbox">
                                    <span class="lever"></span>
                                    <span class="mt-2">опубликовать</span>
                                </form>
                            </label>
                        </div>
                        <a th:href="@{/articles/edit/{id}(id=${article.id})}" data-tooltip="Редактировать" class="btn-large btn-floating waves-circle waves-light blue ms-3 tooltipped"><i class="material-icons">edit</i></a>
                        <a href="#remove-modal" data-tooltip="Удалить" class="btn-large btn-floating waves-circle waves-light red ms-3 tooltipped modal-trigger"><i class="material-icons">delete</i></a>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="col s3"></div>
        <div id="remove-modal" class="modal" style="width: 30%">
            <div class="modal-content">
                <p>Вы уверены что хотите удалить?</p>
            </div>
            <div class="modal-footer">
                <form action="#" th:action="@{/articles/delete/{id}(id=${article.id})}" method="post">
                    <button type="submit" class="btn-small waves-effect waves-light red lighten-1"><i class="material-icons left">delete</i>Удалить</button>
                </form>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>