<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/links :: links}"></th:block>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments/links :: title}"></th:block>
</head>
<body>
    <div class="page">
        <th:block th:replace="~{fragments/header :: header}"></th:block>
        <div class="page-content d-flex aligns-items-center flex-direction-column">
            <th:block th:replace="~{fragments/articles/bar-search-article :: bar-search-article(${filters}, ${pageName}, ${sizeName}, ${sortName}, ${urlSearch}, ${searchName}, ${searchValue})}"></th:block>
            <!--/*@thymesVar id="articles" type="org.springframework.data.domain.Page<com.kamegatze.learnjvm.model.articles.Article>"*/-->
            <th:block th:unless="${articles.content.isEmpty()}" th:each="article, item : ${articles.content}">
                <th:block th:replace="~{fragments/articles/collection-article :: collection-article-editor(${article}, ${urlSearch})}"></th:block>
            </th:block>
            <th:block th:if="${articles.content.isEmpty()}">
                <th:block th:replace="~{fragments/articles/not-found-article :: not-found-article}"></th:block>
            </th:block>
            <th:block th:unless="${articles.content.isEmpty()}">
                <th:block th:replace="~{fragments/pagination :: pagination(${articles.isFirst()}, ${articles.isLast()}, ${articles.getNumber()},
                ${articles.getTotalPages()}, ${articles.getSize()}, ${urls})}"></th:block>
            </th:block>
        </div>
        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    </div>
    <script>
        const itemsP = document.querySelectorAll(".transfer-word")
        itemsP.forEach(item => {
            item.textContent = transferText(item)
        })

        window.addEventListener("resize", () => {
            itemsP.forEach(item => {
                item.textContent = transferText(item)
            })
        })

        document.querySelectorAll(".truncate-text").forEach(item => {
            item.textContent = truncateText(item)
        })


        function changeStateCheckbox(form) {
            const checkbox = form.querySelector(".switch-input")
            const body = createBody(checkbox, form)
            fetch(form.action, {
                method: "POST",
                body,
                headers: {
                    "Content-type": "application/x-www-form-urlencoded"
                }
            }).then().catch(() => {
                alert("Communication error with the server, check the Internet connection")
                checkbox.checked = !checkbox.checked
            })
        }

        function createBody(checkbox, form) {
            let csrf
            form.querySelectorAll("input").forEach(item => {
               if (item.name === '_csrf') {
                   csrf = item
               }
            });
            return `${csrf.name}=${csrf.value}&published=${checkbox.checked}`
        }
    </script>
</body>
</html>