<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="">
<head>
    <th:block th:replace="~{fragments/links :: links}"></th:block>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments/links :: title}"></th:block>
</head>
<body>
    <div class="page">
        <th:block th:replace="~{fragments/header :: header}"></th:block>
        <div class="page-content d-flex aligns-items-center">
            <div class="row container">
                <div class="col s3"></div>
                <!--/*@thymesVar id="article" type="com.kamegatze.learnjvm.model.articles.Article"*/-->
                <form class="col s6" action="#" th:action="@{/articles/create}" th:object="${article}" method="post">
                    <div class="input-field">
                        <input class="validate" id="heading" type="text" th:field="*{label}">
                        <label for="heading">Название статьи</label>
                    </div>
                    <div class="input-field">
                        <textarea id="content" class="materialize-textarea" th:field="*{content}"
                                    style="height: 20em"></textarea>
                        <label for="content">Контент</label>
                    </div>
                    <button type="submit" class="btn waves-effect waves-light">Сохранить</button>
                    <button id="addition-chapter" type="button" class="btn waves-effect waves-light">Добавить раздел</button>
                </form>
                <div class="col s3"></div>
            </div>
        </div>
        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    </div>
    <script>
        // document.querySelector("#addition-chapter").addEventListener("click", () => {
        //     const body = createBody()
        //
        //     fetch("/articles/create/addition-chapter", {
        //         method: "POST",
        //         body,
        //         headers: {
        //             "Content-type": "application/x-www-form-urlencoded"
        //         }
        //     }).then(response => {
        //         response.text().then(value => {
        //             document.querySelector("#chapters").innerHTML = value;
        //             document.querySelectorAll("#chapters .remove").forEach(item => {
        //                 item.addEventListener('click', (e) => {
        //                     deleteItemChapter(e)
        //                 })
        //             })
        //         });
        //     });
        // });
        //
        // document.querySelectorAll("#chapters .remove").forEach(item => {
        //     item.addEventListener('click', (e) => {
        //         deleteItemChapter(e)
        //     })
        // })
        //
        // function deleteItemChapter(e) {
        //     const button = e.currentTarget;
        //     const deleteItem = button.closest("div.row");
        //     deleteItem.remove();
        // }
        //
        // function createBody() {
        //     const textarea = document.querySelectorAll("textarea");
        //     let body = '';
        //     textarea.forEach((item, index) => {
        //         if (index + 1 !== textarea.length) {
        //             body = `${body}${item.name}=${item.value}&`;
        //         } else {
        //             body = `${body}${item.name}=${item.value}`;
        //         }
        //     });
        //     document.querySelectorAll("input").forEach( item => {
        //         body = `${body}&${item.name}=${item.value}`;
        //     });
        //     return body
        // }

    </script>
</body>
</html>