<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="">
<head>
    <th:block th:replace="~{fragments/links :: links}"></th:block>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments/links :: title}"></th:block>
</head>
<body>
    <div class="page">
        <th:block th:replace="~{fragments/header :: header}"></th:block>
        <div class="page-content d-flex aligns-items-center">
            <div class="row container">
                <div class="col s3"></div>
                <!--/*@thymesVar id="article" type="com.kamegatze.learnjvm.model.db.articles.Article"*/-->
                <form class="col s6" action="#" th:action="@{/articles/create}" th:object="${article}" method="post">
                    <div class="input-field">
                        <input class="validate" id="heading" type="text" th:field="*{label}">
                        <label for="heading">Название статьи</label>
                    </div>
                    <div id="chapters">
                        <th:block th:each="chapter, item : *{chapters}">
                            <div class="input-field">
                                <input class="validate" type="text" th:id="${T(java.lang.String).format('%s-%s', item.index, 'heading')}" th:field="*{chapters[__${item.index}__].label}">
                                <label th:for="${T(java.lang.String).format('%s-%s', item.index, 'heading')}">Название раздела</label>
                            </div>
                            <div class="input-field">
                            <textarea class="materialize-textarea" th:id="${T(java.lang.String).format('%s-%s', item.index, 'content')}"
                                      th:field="*{chapters[__${item.index}__].content}" style="height: 20em"></textarea>
                                <label th:for="${T(java.lang.String).format('%s-%s', item.index, 'content')}">Текст раздела</label>
                            </div>
                        </th:block>
                    </div>
                    <button type="submit" class="btn waves-effect waves-light">Сохранить</button>
                    <button id="addition-chapter" type="button" class="btn waves-effect waves-light">Добавить раздел</button>
                </form>
                <div class="col s3"></div>
            </div>
        </div>
        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    </div>
    <script>
        document.querySelector("#addition-chapter").addEventListener("click", () => {
            const textarea = document.querySelector("textarea");
            let body = `${textarea.name}=${textarea.value}`;
            document.querySelectorAll("input").forEach( item => {
               body = `${body}&${item.name}=${item.value}`;
            });

            fetch("/articles/create/addition-chapter", {
                method: "POST",
                body,
                headers: {
                    "Content-type": "application/x-www-form-urlencoded"
                }
            }).then(response => {
                response.text().then(value => {
                    document.querySelector("#chapters").innerHTML = value;
                });
            });
        });


    </script>
</body>
</html>