<!--/*@thymesVar id="article" type="com.kamegatze.learnjvm.model.articles.Article"*/-->
<th:block th:each="chapter, item : *{article.chapters}">
    <div class="row">
        <div class="col s11">
            <div class="input-field">
                <input class="validate" type="text" th:id="${T(java.lang.String).format('%s-%s', item.index, 'heading')}" th:field="*{article.chapters[__${item.index}__].label}" th:value="${chapter.label}">
                <th:block th:if="${chapter.label == null  || chapter.label.isEmpty() || chapter.label.isBlank()}">
                    <label th:for="${T(java.lang.String).format('%s-%s', item.index, 'heading')}">Название раздела</label>
                </th:block>
                <th:block th:unless="${chapter.label == null || chapter.label.isEmpty() || chapter.label.isBlank()}">
                    <label class="active" th:for="${T(java.lang.String).format('%s-%s', item.index, 'heading')}">Название раздела</label>
                </th:block>
            </div>
            <div class="input-field">
                            <textarea class="materialize-textarea" th:id="${T(java.lang.String).format('%s-%s', item.index, 'content')}"
                                      th:field="*{article.chapters[__${item.index}__].content}" th:value="${chapter.content}" style="height: 20em"></textarea>
                <th:block th:if="${chapter.content == null  || chapter.content.isEmpty() || chapter.content.isBlank()}">
                    <label th:for="${T(java.lang.String).format('%s-%s', item.index, 'content')}">Текст раздела</label>
                </th:block>
                <th:block th:unless="${chapter.content == null  || chapter.content.isEmpty() || chapter.content.isBlank()}">
                    <label class="active" th:for="${T(java.lang.String).format('%s-%s', item.index, 'content')}">Текст раздела</label>
                </th:block>
            </div>
        </div>
        <th:block th:if="${item.index != 0}">
            <div class="col s1">
                <button type="button" class="btn-floating waves-effect waves-light remove"><i class="material-icons">clear</i></button>
            </div>
        </th:block>
        <th:block th:unless="${item.index != 0}">
            <div class="col s1">
                <button type="button" class="btn-floating waves-effect waves-light disabled remove"><i class="material-icons">clear</i></button>
            </div>
        </th:block>
    </div>
</th:block>