<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/links :: links}"></th:block>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments/links :: title}"></th:block>
</head>
<body>
    <div class="page">
        <th:block th:replace="~{fragments/header :: header}"></th:block>
        <!--/*@thymesVar id="article" type="com.kamegatze.learnjvm.model.articles.Article"*/-->
        <div class="page-content">
            <article class="row">
                <div class="col s4"></div>
                <div class="col s4 card">
                    <h5 class="center-align" th:utext="${article.label}"></h5>
                    <br>
                    <div>
                        [(${article.content})]
                    </div>
                </div>
                <div class="col s4"></div>
            </article>
        </div>
        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    </div>
</body>
<script>
    const itemsP = document.querySelectorAll("p")
    itemsP.forEach(item => {
        item.textContent = transferText(item)
    });

    window.addEventListener("resize", () => {
        itemsP.forEach(item => {
            item.textContent = transferText(item)
        });
    })



</script>
</html>