<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/links :: links}"></th:block>
    <title>Sign in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="flex-box">
        <div class="row container">
            <div class="col s2"></div>
            <!--/*@thymesVar id="login" type="com.kamegatze.learnjvm.model.authentication.Login"*/-->
            <form class="col s8" action="#" th:action="@{/authentication/processing}" th:object="${login}" method="post">
                <div class="row col s12">
                    <div class="input-field col s12">
                        <input class="validate" id="login" type="text" th:field="*{username}" th:value="${login.username}">
                        <label th:text="#{field.user.name}" for="login"></label>
                    </div>
                    <div class="input-field col s12">
                        <input class="validate" id="password" type="password" th:field="*{password}" th:value="${login.password}">
                        <label th:text="#{field.user.password}" for="password"></label>
                    </div>
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light" type="submit">
                            <i class="material-icons left">input</i>
                            <th:block th:text="#{login.value}"></th:block>
                        </button>
                        <a class="btn waves-effect waves-light" th:href="@{/authentication/register}">
                            <i class="material-icons left">add_circle</i>
                            <th:block th:text="#{registration.value}"></th:block>
                        </a>
                    </div>
                    <div th:if="${param.error}" class="col s12">
                        <span class="red-text helper-text" th:text="#{check.value.by.login}"></span>
                    </div>
                </div>
            </form>
            <div class="col s2"></div>
        </div>
    </div>
</body>
</html>