<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/links :: links}"></th:block>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <div class="flex-box">
        <div class="row container">
            <div class="col s2"></div>
            <!--/*@thymesVar id="registration" type="com.kamegatze.learnjvm.model.registration.Registration"*/-->
            <form class="col s8" action="#" th:action="@{/authentication/register}"
                  th:object="${registration}" method="post">
                <div class="row col s12">
                    <div class="input-field col s12">
                        <input id="last_name" class="validate" type="text" th:field="*{lastName}"/>
                        <label for="last_name" th:text="#{field.registration.last.name}"></label>
                        <span class="helper-text red-text" th:if="${#fields.hasErrors('lastName')}"
                              th:errors="*{lastName}"></span>
                    </div>
                    <div class="input-field col s12">
                        <input id="first_name" class="validate" type="text" th:field="*{firstName}"/>
                        <label for="first_name" th:text="#{field.registration.first.name}"></label>
                        <span class="helper-text red-text" th:if="${#fields.hasErrors('firstName')}"
                              th:errors="*{firstName}"></span>
                    </div>
                    <div class="input-field col s12">
                        <input id="login" class="validate" type="text" th:field="*{login}"/>
                        <label for="login" th:text="#{field.registration.login}"></label>
                        <span class="helper-text red-text" th:if="${#fields.hasErrors('login')}"
                              th:errors="*{login}"></span>
                    </div>
                    <div class="input-field col s12">
                        <input id="password" class="validate" type="password" th:field="*{password}"/>
                        <label for="password" th:text="#{field.registration.password}"></label>
                        <span class="helper-text red-text" th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}"></span>
                    </div>
                    <div class="input-field col s12">
                        <input id="retry_password" class="validate" type="password" th:field="*{retryPassword}"/>
                        <label for="retry_password" th:text="#{field.registration.password.retry}"></label>
                        <span class="helper-text red-text" th:if="${#fields.hasErrors('retryPassword')}"
                              th:errors="*{retryPassword}"></span>
                        <!--/*@thymesVar id="errorRetryPassword" type="java.lang.String"*/-->
                        <span class="helper-text red-text" th:if="${errorRetryPassword}" th:text="${errorRetryPassword}"></span>
                    </div>
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light" type="submit">
                            <i class="material-icons left">send</i>
                            <th:block th:text="#{registration.value}"></th:block>
                        </button>
                        <a class="btn waves-effect waves-light" th:href="@{/authentication/login}">
                            <i class="material-icons left">arrow_back</i>
                            <th:block th:text="#{back.value}"></th:block>
                        </a>
                    </div>
                </div>
            </form>
            <div class="col s2"></div>
        </div>
    </div>
</body>
</html>